<!doctype html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bookshop</title>
        <link rel="shortcut icon" type="image/ico" th:href="@{/favicon.ico}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
              crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/styles.css}">
    </head>

    <body>
    <header>
        <div th:replace="~{fragments/navbar :: navbar}"></div>
    </header>

    <main>

        <div class="col-12 my-nav"></div>

        <div class="container mt-3 col-6">

            <h2>Product</h2>
            <hr/>

                <form th:action="@{/products/saveProduct}" th:object="${productDTO}" method="POST" id="productForm">

                    <div class="row">
                        <div class="col-8">
                            <label for="productTitle" class="form-label">Title</label>
                            <input type="text" th:field="*{title}" class="form-control mb-2"
                                       placeholder="" id="productTitle"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <label for="productAuthor" class="form-label">Author</label>
                            <input type="text" th:field="*{author}" class="form-control mb-2"
                                   placeholder="" id="productAuthor"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <label for="productYearOfRelease" class="form-label">Year Of Release</label>
                            <input type="text" th:field="*{yearOfRelease}" class="form-control mb-2"
                                   placeholder="" id="productYearOfRelease"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <label for="productPublisher" class="form-label">Publisher</label>
                            <input type="text" th:field="*{publisher}" class="form-control mb-2"
                                   placeholder="" id="productPublisher"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <label for="categoryDropDownListId" class="form-label">Category</label>
                            <select th:field="*{category}" class="form-control mb-2" id="categoryDropDownListId">
                                <option value="0"></option>
                                <option th:each="categoryDTO : ${categoriesDTO}"
                                        th:value="${categoryDTO.id}"
                                        th:text="${categoryDTO.name}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <label for="productDescription" class="form-label">Description</label>
                            <textarea th:field="*{description}" class="form-control w-100 mb-2" rows="4"
                                      name="productDescription" form="productForm"
                                      placeholder="" id="productDescription"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <label for="imageURL" class="form-label">Image URL</label>
                            <input type="text" th:field="*{imageURL}" class="form-control mb-2"
                                   placeholder="" id="imageURL"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <label for="productQuantity" class="form-label">Quantity</label>
                            <input type="text" th:field="*{quantity}" class="form-control mb-2"
                                   placeholder="" id="productQuantity"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <label for="productPrice" class="form-label">Price</label>
                            <input type="text" th:field="*{price}" class="form-control mb-4"
                                   placeholder="" id="productPrice"/>
                        </div>
                    </div>

                    <div class="row px-3">
                        <button type="submit" class="col-2 btn btn-primary">Save</button>
                    </div>
                    <input type="hidden" th:field="*{id}" />

                </form>

            <hr/>
            <a th:href="@{/products}">Back to products</a>

        </div>
    </main>

    <footer>

    </footer>

    <script src="https://kit.fontawesome.com/5f637348e4.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
            integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
            crossorigin="anonymous"></script>
    </body>

</html>