<div th:fragment="sidebar">

    <div class="fixed-content">

        <div class="col-12 my-nav"></div>

        <p class="ms-3 h2 pt-4">Categories</p>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-1 py-1 ps-4">
            <li class="nav-item px-1">
                <a th:href="@{/index}" class="nav-link active">Home</a>
            </li>
            <li class="nav-item px-1">
                <a th:href="@{/adminPanel}" class="nav-link active">Admin Panel</a>
            </li>
        </ul>
    </div>

</div>