<div th:fragment="sidebar" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div class="fixed-content">

        <div class="col-12 my-nav mb-2"></div>

        <p class="ms-3 h2 pt-4 mb-4 sidebar-title">Categories</p>

        <ul class="sidebar-element ps-0 ms-4 my-2">
            <li class="">
                <a th:href="@{/index}" class="my-link">All Categories</a>
            </li>
        </ul>

        <ul th:each="categoryDTO: ${categoriesDTO}" class="sidebar-element ps-0 ms-4 my-3">
            <li class="">
                <a th:href="@{/index/{id}(id=${categoryDTO.id})}" class="my-link">[[${categoryDTO.name}]]</a>
            </li>
        </ul>

    </div>

</div>